<header>
  <div class="header-content">
    <img src="img/logo.png" alt="Wild Oasis Logo" class="logo">
    <div class="text-content">
      <h1>Wild Oasis Wolf Sanctuary</h1>
      <p>A Safe Haven for Rescued Wolves</p>
    </div>
  </div>

  <nav>
    <a href="index.html">Home</a>
    <a href="about.html">Our Story</a>
    <a href="/residents">Meet the Residents</a>
    <a href="support.html">Support Us</a>
    <a href="news.html">News & Events</a>
  </nav>
</header>