<nav class="navbar navbar-expand-lg navbar-light bg-light px-3 shadow-sm">
  <a class="navbar-brand d-flex align-items-center" href="#">
    <img src="/assets/img/logo.png" alt="Logo" class="logo-img me-2">
    <span class="fw-bold">Wild Oasis Animal Sanctuary Admin Page</span>
  </a>

  <button 
    class="navbar-toggler" 
    type="button" 
    data-bs-toggle="collapse" 
    data-bs-target="#navbarNavAltMarkup" 
    aria-controls="navbarNavAltMarkup" 
    aria-expanded="false" 
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-between" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-link active" routerLink="">Animals</a>
    </div>

    <div class="navbar-nav ms-auto">
      <a class="nav-link" routerLink="login" *ngIf="!isLoggedIn()">Log In</a>
      <a class="nav-link" (click)="onLogout()" *ngIf="isLoggedIn()">Log Out</a>
    </div>
  </div>
</nav>
