<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="css/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap" rel="stylesheet">
</head>

<body>
  
  {{> header}}

<main>

  {{#each animals}}
    <section class="wolf-profile">
      <div class="wolf-image">
        <img src="/img/{{this.img}}" alt="{{this.name}} the Wolf" class="wolf-photo">
      </div>
      <div class="wolf-info">
        <h2>{{this.name}}</h2>
        <p>{{this.description}}</p>
      </div>
    </section>
  {{/each}}

</main>

{{> footer}}
</body>
</html>